<div class="jumbotron">
	<div class="center">
	<h1 class="title">Resources</h1>
	</div>
		<h3>Tech Startup Resources</h3>
			<h4>University Resources</h4>
				<ul>
					<li><%= link_to "MIT StartLabs", "http://startlabs.org/" %></li>
					<li><%= link_to "Harvard Innovation Lab", "http://i-lab.harvard.edu/" %></li>
					<li><%= link_to "Hack Harvard", "http://www.hackharvard.org/" %></li>
					<li><%= link_to "Tufts Entrepreneurs Society", "http://gordon.tufts.edu/programs/tufts-entrepreneurs-society" %></li>
					<li><%= link_to "Northeastern ACM", "http://acm.ccs.neu.edu/" %></li>
				</ul>
			<h4>Boston Resources</h4>
				<ul>
					<li><%= link_to "Greenhorn Connect", "http://greenhornconnect.com/" %></li>
					<li><%= link_to "BostInno Magazine", "http://bostinno.streetwise.co/" %></li>
					<li><%= link_to "Start With Startups", "http://startwithstartups.com/" %></li>
					<li><%= link_to "Rough Draft Ventures", "http://roughdraft.vc/" %></li>
					<li><%= link_to "Dorm Room Fund Boston", "http://www.dormroomfund.com/boston" %></li>
				</ul>
			<h4>Online Magazines</h4>
				<ul>
					<li><%= link_to "TechCrunch", "http://techcrunch.com/" %></li>
					<li><%= link_to "Gizmodo", "http://gizmodo.com/" %></li>
					<li><%= link_to "The Verge", "http://www.theverge.com/" %></li>
					<li><%= link_to "Smashing Magazine", "http://www.smashingmagazine.com/" %></li>
					<li><%= link_to "A List Apart", "http://alistapart.com/" %></li>
					<li><%= link_to "Business Insider", "http://www.businessinsider.com/" %></li>
				</ul>
			<h4>Blogs</h4>
				<ul>
					<li><%= link_to "Paul Graham", "http://paulgraham.com/articles.html" %></li>
					<li><%= link_to "Seth Godin", "http://sethgodin.typepad.com/" %></li>
					<li><%= link_to "Tim Ferriss", "http://www.fourhourworkweek.com/blog/" %></li>
					<li><%= link_to "Cal Newport", "http://calnewport.com/blog/" %></li>
				</ul>
			<h4>Online Tech Communities</h4>
				<ul>
					<li><%= link_to "Hacker News", "http://news.ycombinator.com/" %></li>
					<li><%= link_to "Reddit", "http://www.reddit.com/" %></li>
					<li><%= link_to "Quora", "http://www.quora.com/" %></li>
					<li><%= link_to "Medium", "https://medium.com/" %></li>
					<li><%= link_to "Svbtle", "https://svbtle.com/" %></li>
				</ul>

		<h3>Online Education</h3>
			<h4>Programming</h4>
				<ul>
					<li><%= link_to "Codecademy", "http://www.codecademy.com/" %></li>
					<li><%= link_to "General Assembly Dash", "https://dash.generalassemb.ly/projects" %></li>
					<li><%= link_to "Khan Academy Computer Programming", "https://www.khanacademy.org/cs" %></li>
					<li><%= link_to "Code School", "https://www.codeschool.com/" %></li>
					<li><%= link_to "One Month Rails", "https://onemonthrails.com/" %></li>
					<li><%= link_to "Udacity", "http://www.udacity.com/" %></li>
					<li><%= link_to "Treehouse", "http://teamtreehouse.com/" %></li>
					<li><%= link_to "Bentobox", "http://www.bentobox.io/" %></li>
				</ul>
			<h4>Design</h4>
				<ul>
					<li><%= link_to "Method of Action", "http://method.ac/" %></li>
					<li><%= link_to "Hack Design", "https://hackdesign.org/" %></li>
				</ul>
			<h4>Business</h4>
				<ul>
					<li><%= link_to "Wharton Foundation Series on Coursera", "http://blog.coursera.org/post/60889088289/the-wharton-foundation-series" %></li>
					<li><%= link_to "Stanford Startup Engineering", "https://www.coursera.org/course/startup" %></li>
					<li><%= link_to "How to Build a Startup on Udacity", "https://www.udacity.com/course/ep245" %></li>
				</ul>
			<h4>Marketing and Sales</h4>
				<ul>
					<li><%= link_to "Ryan Holiday Growth Hacker Marketing", "http://www.amazon.com/Growth-Hacker-Marketing-Advertising-ebook/dp/B00BPDR3JM" %></li>
					<li><%= link_to "100 Growth Hacks in 100 Days", "http://timothy.userapp.io/post/66678739796/100-growth-hacks-in-100-days-day-1" %></li>
				</ul>
			<h4>Career Development</h4>
				<ul>
					<li><%= link_to "The Daily Muse", "http://www.thedailymuse.com/" %></li>
					<li><%= link_to "Levo League", "http://www.levo.com/" %></li>
					<li><%= link_to "Lifehacker", "http://lifehacker.com/" %></li>
				</ul>

		<h3>In-Person Education</h3>
			<h4>Courses and Events</h4>
				<ul>
					<li><%= link_to "General Assembly", "https://generalassemb.ly/education?where=boston" %></li>
					<li><%= link_to "Women's Coding Collective", "http://www.meetup.com/wcc-boston/?trax_also_in_algorithm2=combo&traxDebug_also_in_algorithm2_picked=combo" %></li>
					<li><%= link_to "Intelligent.ly", "http://intelligent.ly/" %></li>
					<li><%= link_to "Meetup", "http://www.meetup.com/" %></li>
					<li><%= link_to "Eventbrite", "http://www.eventbrite.com/" %></li>
				</ul>
			<h4>Programming Bootcamps</h4>
				<ul>
					<li><%= link_to "Dev Bootcamp", "http://devbootcamp.com/" %></li>
					<li><%= link_to "Startup Institute", "http://startupinstitute.com/" %></li>
					<li><%= link_to "Hackbright Academy", "http://www.hackbrightacademy.com/" %></li>
					<li><%= link_to "Hacker School", "https://www.hackerschool.com/" %></li>
					<li><%= link_to "Hack Reactor", "http://www.hackreactor.com/" %></li>
				</ul>
			<h4>Hackathons</h4>
				<ul>
					<li><%= link_to "Startup Weekend", "http://startupweekend.org/" %></li>
					<li><%= link_to "Hacker League", "https://www.hackerleague.org/" %></li>
					<li><%= link_to "Major League Hacking", "http://mlh.io/" %></li>
				</ul>
</div>

<br>
<br>
<br>
<p>Built with One Month Rails</p>