<div class="jumbotron">
	<div class="center">
	<h1 class="title">Sponsors and Partners</h1>
	</div>
		<h3>Sponsors</h3>
			<h4>Violet Sponsors</h4>
				<ul>
					<%= image_tag("github_logo.png", size: "300x119") %>
					<%= image_tag("google_logo.jpg", size: "350x233") %>
				</ul>
		<h3>Partners</h3>
			<h4>Event Partners</h4>
				<ul>
					<%= image_tag("wcc_square_logo.jpg", size: "200x200") %>
					<%= image_tag("levo_league_logo.jpg", size: "220x220") %>
					<%= image_tag("girl_geek_dinner_logo.png", size: "200x128") %>
				</ul>
			<h4>Meeting Space Partners</h4>
				<ul>
					<%= image_tag("cic_logo.gif") %>
				</ul>
			<h4>Resource Partners</h4>
				<ul>
					<%= image_tag("omr_logo.png") %>
					<%= image_tag("codeschool_logo_.png", size: "350x86") %>
				</ul>
</div>

<br>
<br>
<br>
<p>Built with One Month Rails</p>